<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add post</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
   <div class="box">
    <h1>Here you can add new post ..</h1>
    <form action="/posts/add" method="post">
        <input type="text" name="username" placeholder="enter username"><br><br>
        <textarea name="content" placeholder="enter content" cols="30" rows="4"></textarea><br><br>
        <button>submit</button>
    </form>
   </div>
</body>
</html>