input{
    border: 2px solid black;
}
textarea{
    border: 2px solid black ;
}
.box{
    height: 60vh;
    /* width: 40vw; */
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
h1{
    margin: 0.5em;
}